*{  
    margin: 0;
    padding: 0;    
}
/*main*/
main{
    margin-top: 2%;
    min-height: 100vh;    
}
/*sections*/
.sec-con{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sec1 {
    border: 2px solid rgb(7, 55, 249);
    padding: 1rem;
    margin: 1rem 0;
}
.sec2 {
    border: 2px solid rgb(115, 199, 212);
    padding: 1rem;
    margin: 1rem 0;
}
.sec3 {
    border: 2px solid rgb(255, 193, 10);
    padding: 1rem;
    margin: 1rem 0;
}
@media (max-width: 768px) {
    .sec-con {
        flex-direction: column;
        align-items: center;
    }
}
/* formulario*/
.form-control {
    border: 2px solid #544f52; /* Aumenta el grosor del borde a 2px (puedes ajustarlo según tus preferencias) */
  }
.selector {
    border: 2px solid #08d03a; /* Aumenta el grosor del borde a 2px (puedes ajustarlo según tus preferencias) */
  }

.margin-bottom {
    margin-bottom: 1rem; /* Ajusta el valor según la separación que desees */
  }
.total {
    background-color: #cce5ff;
    color: #08468a;
}

/* footer*/
.miFooter {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 13, 121, 1) 56%, rgba(0, 108, 255, 1) 100%);
    color: #fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}