*{
    margin: 0;
    padding: 0;
    
}



/*main*/

 
main{
    margin-top: 5%;
    
}


/*sections*/

.sec-con{
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.sec1 {
    border: 2px solid rgb(7, 55, 249);
    padding: 1rem;
    margin: 1rem 0;
}
.sec2 {
    border: 2px solid rgb(23, 201, 241);
    padding: 1rem;
    margin: 1rem 0;
}
.sec3 {
    border: 2px solid rgb(19, 209, 22);
    padding: 1rem;
    margin: 1rem 0;
}
@media (max-width: 768px) {
    .sec-con {
        flex-direction: column;
        align-items: center;
    }
}
/* formulario*/
.form-control {
    border: 2px solid #544f52; /* Aumenta el grosor del borde a 2px (puedes ajustarlo según tus preferencias) */
  }
.selector {
    border: 2px solid #08d03a; /* Aumenta el grosor del borde a 2px (puedes ajustarlo según tus preferencias) */
  }

  .margin-bottom {
    margin-bottom: 1rem; /* Ajusta el valor según la separación que desees */
  }

  .input-alto {
    height: 3rem; 
  }
  /*
  footer
  */
  .miFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 13, 121, 1) 56%, rgba(0, 108, 255, 1) 100%);
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media (max-width: 768px) {
    .miFooter {
        position: static;
        width: 100%;
    }
}

  /* Estilos para el footer */
 

